<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>exampleContentAndBounce.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BEA0BB3F1C4754CF0070AE4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEA0BB581C4754CF0070AE4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEA0BB631C4754CF0070AE4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
